
.admin-page {
    margin: 0 auto;
    max-width: 80%;
  }
  
  
 .admin-page input {
    display: block;
    width: flex;
    margin: 5px;
  }
  
  .admin button {
    margin-bottom: 10px;
  }
  
  .admin ul {
    list-style-type: none;
    padding: 0
  }
  
  .admin p{
    font-size: 14px;
    margin: 0px;
  }
   
  .tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .tabs button {
    border-radius: 4px;
    background: none;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    height: 60px;
  
  }

  .tabs button:focus {
    outline: none;
  }
  
  .tabs button:hover {
    opacity: 0.8; 
    border: 2px solid #bbc3eb;
    border-radius: 4px;
    background-color: none;

  
  }
  
  .tabs button.active {
    text-decoration: underline; 
    font-weight: bold;
  }

  .section {
    justify-content: center;

  }

  select{
    margin-bottom: 10px;
  }

