.author {
    font-family: Arial, sans-serif;
  }
  
  .author h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .author h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .author p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .author ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .author li {
    margin-bottom: 0.5rem;
  }
  
  .author a {
    text-decoration: none;
    color: #0066cc;
  }
  
  .author a:hover {
    text-decoration: underline;
  }

  .author{
    background-color: #ffffff;
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Spread the main content and contact info apart */
  }

  .article-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .author-info, .publication-date {
    font-size: 16px;
  }


  
  .main-content {
    width: 80%; /* Adjust the width as needed */
  }
  
  .contact-info {
    width: 20%; /* Adjust the width as needed */
    text-align: center; /* Align the content to the right */
  }

  .contact-info h1{
    margin: 40px;
    font-size: 45px;
  }

  .contact-info h2{
    margin: 20px;
    font-size: 30px;
    color:#4c4e50;
  }


  .contact-info p{
    font-size: 30px;
  }

  .icon {
    width: 30px; /* Set the width of the icon */
    height: auto; /* Let the height adjust automatically to maintain aspect ratio */
    vertical-align: middle; /* Align the icon vertically in the middle */
  }

  .author-photo {
    margin: 20px;
    width: 250px;
    height: auto;
    border-radius: 50%;
  }

