.scroll-container {
  width: 100%;
  overflow-x: scroll; /* Force horizontal scrollbar to be always visible */
  white-space: nowrap; 
  height: 240px;
  position: relative; /* Add this to make the pseudo-element work */
}

.scroll-container::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; 
}

.scroll-container::-webkit-scrollbar {
  height: 12px; 
}

.scroll-container::-webkit-scrollbar-track {
  background: white; 
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;
  border: 2px solid #e0e0e0;
}

.scroll-item {
  display: inline-block;
  width: 300px; 
  height: 200px; 
  margin-right: 10px;
  border: 2px solid #1f357a;
  border-radius: 10px;
}

.scroll-item p {
  text-align: center;
  font-weight: bold;
}

.scroll-item img {
  align-items: center;
}

.department h1 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
  margin-top: 10px;
}

.scroll-item:hover {
  background-color: #a9aaac;
}

.members{
  margin-left: 1%;
}