.author {
    font-family: Arial, sans-serif;
  }
  
  .author h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .author h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .author p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .author ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .author li {
    margin-bottom: 0.5rem;
  }
  
  .author a {
    text-decoration: none;
    color: #0066cc;
  }
  
  .author a:hover {
    text-decoration: underline;
  }

  .author{
    background-color: #ffffff;
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Spread the main content and contact info apart */
  }

  .article-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .author-info, .publication-date {
    font-size: 16px;
  }


  
  .main-content {
    width: 80%; /* Adjust the width as needed */
  }
  
  .contact-info {
    width: 20%; /* Adjust the width as needed */
    text-align: center; /* Align the content to the right */
    border: 2px solid #000000;
    border-radius: 15px;
    margin: 15px;
    
    height: 15%;
  }

  .contact-info h1{
    margin: 10%;
    font-size: 20px;
  }

  .contact-info h2{
    margin: 10px;
    font-size: 15px;
    color:#4c4e50;
  }


  .contact-info p{
    font-size: 15px;
  }

  .icon {
    width: 20px; /* Set the width of the icon */
    height: auto; /* Let the height adjust automatically to maintain aspect ratio */
    vertical-align: middle; /* Align the icon vertically in the middle */
  }

  .author-photo {
    margin: 20px;
    width: 150px;
    height: auto;
    border-radius: 50%;
  }

  .main-content {
    margin: 20px;
  }

  .main-content h2 {
    color:#1f357a;
  }

  .main-content a {
    color:#000000;
  }

  .main-content li {
   margin: 10px;
  }

.charts {
    display: flex;
    margin-top: 5%;
}

.chart {
    margin-left: 10px; 
    flex: 1;
}

.pagination-buttons {
  margin-top: 20px;
}

.pagination-buttons button {
  padding: 8px 16px;
  margin-right: 10px;
  background-color: #1f357a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 0.8;
}


.pagination-buttons button:hover {
  background-color: #1f357a;
  opacity: 1;
}

.pagination-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
