body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins', 'Inria Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
    background-color: #1f357a;
    display: flex;
    align-items: center; 
    height: 30%;

}
.uniname {
    color: white;
    font-family: 'Poppins';
    font-weight: lighter;
    flex-grow: 1; 
    text-align: center;
}

.unilogo img {
    height: 5rem; 
    margin-right: 1.25rem; 
    border-radius: 50%; 
}

.navbar {
    display: flex;
}

.nav-box {
    flex-grow: 1; 
    padding: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    background-color: #1f357a;
    text-align: center;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 200%;

}

.nav-link:hover {
    opacity: 1;
}

.nav-link.active {
    opacity: 1;
}

